@model IEnumerable<Orcamento.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Orcamentos</h1>

<p>
    <a asp-action="Create">Novo Orcamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoOrcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoOrcamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            
            <td> |
                <a asp-action="ListaOrcamento" asp-route-id="@item.CodigoOrcamento">Editar</a> | 
            </td>
        </tr>
}
    </tbody>
</table>
